@model IEnumerable<QuanLyKhoCuaThanh.Models.HANGHOA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAHANGHOA)

            @Html.DisplayNameFor(model => model.TENHANGHOA)

            @Html.DisplayNameFor(model => model.XUATXU)
            @Html.DisplayNameFor(model => model.DONGIA)
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAHANGHOA)

            @Html.DisplayFor(modelItem => item.TENHANGHOA)

            @Html.DisplayFor(modelItem => item.XUATXU)

            @Html.DisplayFor(modelItem => item.DONGIA)
            @Html.DisplayFor(modelItem => item.SOLUONG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
